# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\IC DESIGN LAB\[LAB] PRJ.Parking Lot\IMAGE_CALIBRATION_V2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
